:host {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &:has(.ng-invalid.ng-touched)::ng-deep {
    input,
    textarea,
    select {
      border-color: red;
      color: red;
      &::placeholder {
        color: red;
      }
    }
  }
}
